<!-- Base code from CodePen: https://codepen.io/joergjaeckel/pen/OyyLeL -->

  <div class="calendar">
    <div class="top">
        <div class="pin"></div>
    </div>
    <div class="counter clearfix">

      <div class="sheet" data-target="2">
        <div class="up">
          <span>2</span>
        </div>
        <div class="down">
          <span>2</span>
        </div>
      </div>

      <div class="sheet" data-target="6">
        <div class="up">
          <span>6</span>
        </div>
        <div class="down">
          <span>6</span>
        </div>
      </div>

    </div>

    <div class="month">
      Month
    </div>
  </div>
